<html>
<head>
<title>seller</title>
</head>
<body>
    <h1>Transaction History</h1>
    <h1>{{a}}<h1>
        

         // <form action="/history " method="post">
        //    {% csrf_token %}
        //       <label for="transaction_id">id</label>
        //       <input type="text" id="transaction_id"name="transaction_id"   Required>
        //       <label for="">status</label>
        //       <input type="status" id="status"name="status"   Required>
        //       <br>
        //       <label for="">update_time</label>
        //       
        //       <input type="datetime-local" id="update_time"name="update_time"   Required>
        //       <br>
        //  </form>
               
              

        
    
    
</body>   
</html>